.background {
  viewport-fill: #1361a5;
}

text     {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  y: 12;
  text-length: 32;
}


.item-header     { x: 0; y: 0; width: 100%; height: 25 }
.item            { x: 0; y: 0; width: 100%; height: 33%;}
.item-footer     { x: 0; y: 0; width: 100%; height: 20; }

.tile-divider-bottom {
  fill: grey;
}
